body
{
	background-color: #f7e9ad;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1
{
	font-size: 80px;
	text-align: center;
	color: #ff9000;
	margin-bottom: 0;
}

#mainContainer
{
	margin: 0 auto;
	width: 800px;
	height: 1200px;
	background-color: #f7f1ea;
	border-radius: 20px;
	border: 4px silver solid;
}

#tabBar
{
	width: 800px;
	height: 120px;
	background-color: silver;
	border-radius: 20px 20px 0px 0px;
}

#containerContents
{
	width: 800px;
	height: 1080px;
	text-align: center;
}

#containerContentsText
{
	margin-top: 300px;
	font-size: 90px;
	font-weight: bold;
}

.tabButton
{
	width: 192px;
	height: 112px;
	float: left;
	background-color: #f7f1ea;
	border: 4px silver solid;
	border-bottom: 8px silver solid;
	border-radius: 20px 20px 0px 0px;
	font-size: 32px;
	text-align: center;
	color: #ff9000;
}

.tabTextOneLine
{
	margin-top: 40px;
	font-weight: bold;
}

.tabTextTwoLine
{
	margin-top: 20px;
	font-weight: bold;
}


